@import "./base.css";

body {
  @apply bg-neutral-950;
}

.base {
  @apply flex flex-col items-center;
}

.hoverV2 {
  @apply text-green-500 hover:bg-green-500 hover:text-black;
}

/* transitions */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter-from,
.fade-leave-to{
  opacity: 0;
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.1s;
}
.slide-up-enter-from {
  transform: translateY(60px);
}
.slide-up-leave-to {
  transform: translateY(-60px);
}

/* Tooltip */
.tooltip:hover {
    filter: brightness(0.90);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 4px;

  /* Position the tooltip */
  position: absolute;
  right: 28px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}